asgiref==3.6.0
dj-database-url==1.2.0
dj-static==0.0.6
Django==3.2.3
django-bootstrap3==22.2
gunicorn==20.1.0
pycodestyle==2.10.0
pytz==2022.7.1
sqlparse==0.4.3
static3==0.7.0
tomli==2.0.1
psycopg2>=2.6.1
